$page-bg-color: #EFF5FA;
$dark-blue: #053366;
$dark-green: #318C7D;
$light-green: #4D9A8D;

@mixin absolute-vcal-center {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);}

@mixin flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
}

$pc: 1024px; 
$tab: 945px; 
$sp: 768px;
@mixin pc {
    @media (max-width: ($pc)) {
        @content;
    }
    }
    @mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
    }
    @mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
    }
    